div {
    display:inline-block;
}
.page {
    background-color: #FFF;
}
#switch-tabs {
    padding-left:5px;
    background-color: #8C8C8C;
    font-size:24px;
    color: #FFF;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  padding:10px;
  margin:-5px -5px -5px -5px;
}
select option {
    display:inline-block;
    opacity:.7;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
#switch-home:hover {
    border:solid;
    border-color: #FF0000;
    border-size: 2px;
    cursor:pointer;
}
#switch-home:checked {
    opacity:1;
}
#switch-me {
    background:url(https://i.postimg.cc/RZT2zb0K/person-1.jpg);
    border-radius: 30px;
    padding: 10px;
}
#switch-me:hover {
    border:solid;
    border-color: #FF0000;
    border-size: 2px;
    cursor:pointer;
}
#switch-me:checked {
    opacity:1;
}
#switch-camp {
    background:url(https://i.postimg.cc/bNhZGgXC/campfire.gif);
    border-radius: 30px;
    padding: 10px;
}
#switch-camp:hover {
    border:solid;
    border-color: #FF0000;
    border-size: 2px;
    cursor:pointer;
}
#switch-camp:checked {
    opacity:1;
}
#switch-woods {
    background:url(https://i.postimg.cc/Qx4V8sdJ/ezgif-com-gif-maker.gif);
    border-radius: 30px;
    padding: 10px;
}
#switch-woods:hover {
    border:solid;
    border-color: #FF0000;
    border-size: 2px;
    cursor:pointer;
}
#switch-woods:checked {
    opacity:1;
}
