div {
    display:inline-block;
}
.stats-indicator span.label {
    text-transform: lowercase;
}
ul.stats {
ul.tabs {
    padding-left: 5px !important;
    font-size: 24px;
    border-radius:6px;
    color: #fff;
    border: none;;
}
ul.tabs .me {
    background:center url(https://i.postimg.cc/RZT2zb0K/person-1.jpg);
    background-size:contain;
}
ul.tabs .me:hover {
    border-color: #FFF;
    border-size: 2px;
    cursor:pointer;
}
ul.tabs .me:active {
    transform: translateY(4px);
}
ul.tabs .camp {
    background:center url(https://i.postimg.cc/bNhZGgXC/campfire.gif);
    background-size: contain;
}
ul.tabs .camp:hover {
    border-color: #FFF;
    border-size: 2px;
    cursor:pointer;
}
ul.tabs .camp:active {
    transform: translateY(4px);
}
ul.tabs .woods {
    background:center url(https://i.postimg.cc/Qx4V8sdJ/ezgif-com-gif-maker.gif);
    background-size:contain;
}
ul.tabs .woods:hover {
    border-color: #FFF;
    border-size:2px;
    cursor:pointer;
}
ul.tabs .woods:active {
    transform: translateY(4px);
light {
    background: #E3E7EA;
}
small {
    color: 000000;
    font-size:14px;
    text-align:center;
}
medium {
    color: 000000;
    font-size:24px;
    text-align:center;
}
big {
    color: 000000;
    font-size:36px;
    text-align:center;
}
.showthat1, .showthat2, .showthat3, .showthat4 {
  border-bottom: 1px dotted black;
  color:#ff0000;
}
.showthat1:hover .showthis1, .showthat2:hover .showthis2 {
    display:block;
    cursor:pointer;
}
.showthat3:hover .showthis3, .showthat4:hover .showthis4{
    display:block;
    cursor:pointer;
}
.showthis, .showthis1, .showthis2, .showthis3, .showthis4 {
  width: 120px;
  background-color: #c7ceff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  display:none;
}
.showthis {
    display:none;
}
.showthat:hover .showthis {
    display:block;
}
